 <% provide(:title,"Welcome to Chat") %>
<div class="center">
	<h1>Welcome to our chat application</h1>
	<p>For now  it`ll stay just like this</p>

	<div>
		<form>
			<textarea class="AreaLol">INput me</textarea>
		</form>
	</div>
</div>
