<%provide(:title,"ChatRoom")%>
<script>
  $(function() {
    // Create a new client to connect to Faye
    var client = new Faye.Client('https://chatipzlol.herokuapp.com/faye'); //Change for localhost/
		
		// Subscribe to the public channel
    var public_subscription = client.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + data.msg).appendTo('#chat_room');
    }); 
    // Handle form submissions and post messages to faye
    window.onload = function(){
    	client.publish('/messages/public', {
        username: '<%= current_user.name %>',
        msg: ' has joined us'
      });
    }
    $('#new_message_form').submit(function(){
      // Publish the message to the public channel
      client.publish('/messages/public', {
        username: '<%= current_user.name %>: ',
        msg: $('#message').val()
      });
 
      // Clear the message box
      $('#message').val('');
 
      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });
  });
</script>
<h1 class="center">Chat Room</h1>
<div class="chat_container ">
  <div id="chat_room" class="rcorners3">   
  </div>
 
  <form id="new_message_form" class="form-inline">
    <input type="text" id="message" name="message" class="form-control"  size="130">
    <input type="submit" value="Send" class="form-control">
  </form>
</div>