<footer class="footer">
<div class="container">
	<small>
		<a href="https://twitter.com/">Yammy</a>
	</small>
		<nav>
			<ul>
				<li><%=link_to "Nowhere", '#'%></li>
			</ul>
		</nav>
	</footer>
</div>